* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: sans-serif;
}

.wrapper {
    display: grid;
    grid-template-columns: auto min(90vmin, 480px);
    grid-template-rows: min(90vmin, 480px) auto;
    gap: 10px;
    align-items: center;
}

.ranks {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: min(90vmin, 480px);
    font-size: calc(min(90vmin, 480px) / 20);
}

.files {
    display: flex;
    justify-content: space-between;
    width: min(90vmin, 480px);
    font-size: calc(min(90vmin, 480px) / 20);
    grid-column: 2;
}

.board {
    width: min(90vmin, 480px);
    height: min(90vmin, 480px);
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    border: 4px solid #333;
}

.cell {
    width: 100%;
    height: 100%;
    transition: 0.2s;
}

.light {
    background: #f0d9b5;
}

.dark {
    background: #b58863;
}

.cell:hover {
    outline: 3px solid yellow;
    z-index: 2;
}
