.btn:hover {
    color: blue;
}

input:required {
    background-color: red;
}

input:focus {
    background-color: yellow !important;
}

p::first-line {
    font-weight: bold;
}

input:checked[type="checkbox"] {
    accent-color: blue;
    outline: 2px solid red;
    outline-offset: 0;
}

table {
    border-collapse: collapse;
}

td, th {
    padding: 5px 15px;
    border: 1px solid black;
}

thead tr {
    background-color: blue;
    color: white;
}


tbody tr:nth-child(odd) {
    background-color: #e69ae6;
}


tbody tr:last-child {
    background-color: green !important;
    color: white;
}
