.container {
    width: 300px;
    margin: 50px auto;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.container div div { 
    width: 100px;
    height: 100px;
    float: left;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
